<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pvzer.furniture.mapper.UserMapper">
  <insert id="signup">
    insert into users(username,password,email,name,telephone,gender,
                      birthday,create_time,update_time)
    value(#{username},#{password},#{email},#{name},#{telephone},#{gender},
          #{birthday},now(),now());

  </insert>
</mapper>