.dialog{

  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  position: fixed;
  z-index: 10000;

  /* background-color: #eee; */
}

.banner{
  background-image: url('/images/banner1.jpg');

}
.show-box{
  display: flex;
  gap: 20px;
}
.show-left{
  width: 300px;
  margin: 20px;
  /* background-color: aqua; */
}

.show-right{
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 10px;
  border:1.5px solid #eee;
}
.good{
  /* flex: 1; */
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  width: 100%;
  height: 280px;
  margin-bottom:5px;
  border-bottom: 1px solid #888;


}
.goods{
width: 320px;
/* height: 380px; */
overflow: hidden;
border-radius: 15px 15px 0 0;
border: 1px solid #666;
/* padding: 10px; */
margin:30px;
padding-bottom: 20px;
/* background-color: rgb(253, 235, 216,0.7);; */
}
.good-text{
  margin: 0;
  margin-left: 20px;
  color: #000;
  font-weight: 700;
  margin-top: auto;
  font-size: 20px;

}
.goods:hover{
box-shadow: 3px 2px 6px 1px #888;
}
.show-empty{
  width: 80px;
  height: 1px;
}
#dialog{
  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  position: fixed;
  z-index: 10000;
  display: none;
  /* background-color: #eee; */
}
.dialog-main{
  width: 480px;
  height: 480px;
  margin: 200px auto;
  background-color: #ddd;
  box-shadow: 0px 30px 10px 10px #666;
}
.dialog-detail{
  width: 100%;
  height: 100%;
}
.dialog-head{
  display: flex;
}
.dialog-button{
  margin:0;
  padding: 5px;
  margin-left: auto;
  font-size: 15px;
  border: 0;
  background-color: #ddd;
}
.dialog-title{
  font-size: 14px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .dialog-main{
      width: 300px;
      margin-top: 40%;
  }
  .goods{
    width: 87%;
    margin:30px auto ;
  }

}