.dialog{

  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  position: fixed;
  z-index: 10000;

  /* background-color: #eee; */
}

.banner{
  background-image: url('/images/banner1.jpg');

}
.show-box{
  display: flex;
  gap: 20px;
}
.show-left{
  width: 300px;
  margin: 20px;
  /* background-color: aqua; */
}

.show-right{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  border:1.5px solid #eee;
}
.goods{
  width: 300px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  border: 1px solid #666;
  margin:18px;
  padding-bottom: 20px;
  }
.goods:hover{
  box-shadow: 3px 2px 6px 1px #888;
}
.show-empty{
  width: 80px;
  height: 1px;
}
#dialog{
  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  position: fixed;
  z-index: 10000;
  display: none;
  /* background-color: #eee; */
}
.dialog-main{
  width: 480px;
  height: 480px;
  margin: 200px auto;
  background-color: #ddd;
  box-shadow: 0px 30px 10px 10px #666;
}
.dialog-detail{
  width: 100%;
  height: 100%;
}
.dialog-head{
  display: flex;
}
.dialog-button{
  margin:0;
  padding: 5px;
  margin-left: auto;
  font-size: 15px;
  border: 0;
  background-color: #ddd;
}
.dialog-title{
  font-size: 14px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .dialog-main{
      width: 300px;
      margin-top: 40%;
  }ï¼Œ
  .goods{
    width: 87%;
    margin:30px auto ;
  }
  @media(max-width: 1204px){
    .goods{
      width: 280px;
    }
  }
}
